<!DOCTYPE html>
<html>
<head>
  <title>Prototype</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
 <header>
  <div class="header-left">
    <ul>
      <li><span class="fa fa-twitter"></span><a href="https://twitter.com/intent/tweet?url={URLEncodedPermalink}&text={Title}&via=webgaku">Twitter</a></li>
      <li><span class="fa fa-facebook"></span><a href="https://www.facebook.com/sharer/sharer.php?u={URLEncodedPermalink}">Facebook</a></li>
    </ul>
  </div>
  <div class="header-right">
   <% if user_signed_in? %>
    <ul>
     <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    <% else %>
     <li><%= link_to "ログイン", new_user_session_path, method: :get %></li>
     <li><%= link_to "新規登録", new_user_registration_path, method: :get %></li>
     </ul>
     <% end %>
    <button type="button" class="button"><a href="http://localhost:3000">
      <span class="hamburger"></span>
      </a>
    </button>
  </div>
</header>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
